<div class="modal accept">
  <div class="modal__body accept__body">
    <div class="modal__close">
      <img src="./img/cross.svg" alt="" />
    </div>
    <div class="accept__img">
      <img src="./img/tablet.webp" alt="" />
    </div>
    <div class="accept__content">
      <div class="subtitle1 accept__title">Принять заказ</div>

      <p class="accept__desc check-list">Подтвержаю, что:</p>
      <ul class="check-list">
        <li>Заказ выполнен в полном объеме</li>
        <li>К результату заказа претензий нет</li>
        <li>
          <span
            >Понимаю, что
            <strong>возврат средств будет невозможен</strong></span
          >
        </li>
      </ul>
      <div class="confirm__buttons">
        <a href="#" class="btn btn--gray btn-reset confirm__btn">Отменить</a>
        <a href="#" class="btn btn-reset confirm__btn">Принять заказ</a>
      </div>
    </div>
  </div>
</div>
