<section class="blog-section">
  <div class="container">
    <h2 class="title2 blog-section__title">Блог</h2>
    <div class="swiper blog-section__buttons-slider">
      <div class="blog-section__buttons swiper-wrapper">
        <div class="blog-section__btn swiper-slide" data-filter="category">Рубрика</div>
        <div class="blog-section__btn swiper-slide" data-filter="interesting">Интересное</div>
        <div class="blog-section__btn swiper-slide" data-filter="category">Рубрика</div>
        <div class="blog-section__btn swiper-slide" data-filter="interesting">Интересное</div>
        <div class="blog-section__btn swiper-slide active" data-filter="all">Все статьи</div>
      </div>
    </div>
    <div class="blog-section__items">
        <article class="blog__item blog-item">
          <div class="blog-item__image">
            <picture>
              <source srcset="./img/blog/01-2x.webp" media="(min-width: 1440px)" type="image/webp">
              <source srcset="./img/blog/01.webp" type="image/webp">
              <img src="./img/blog/01.jpg" srcset="./img/blog/01-2x.jpg 2x" alt="">
            </picture>
          </div>
          <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
          <p class="blog-item__desc">
            В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
          </p>
        </article>
        <article class="blog__item blog-item">
          <div class="blog-item__image">
            <picture>
              <source srcset="./img/blog/02-2x.webp" media="(min-width: 1440px)" type="image/webp">
              <source srcset="./img/blog/02.webp" type="image/webp">
              <img src="./img/blog/02.jpg" srcset="./img/blog/02-2x.jpg 2x" alt="">
            </picture>
          </div>
          <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
          <p class="blog-item__desc">
            В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
          </p>
        </article>
        <article class="blog__item blog-item">
          <div class="blog-item__image">
            <picture>
              <source srcset="./img/blog/03-2x.webp" media="(min-width: 1440px)" type="image/webp">
              <source srcset="./img/blog/03.webp" type="image/webp">
              <img src="./img/blog/03.jpg" srcset="./img/blog/03-2x.jpg 2x" alt="">
            </picture>
          </div>
          <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
          <p class="blog-item__desc">
            В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
          </p>
        </article>
        <article class="blog__item blog-item">
          <div class="blog-item__image">
            <picture>
              <source srcset="./img/blog/01-2x.webp" media="(min-width: 1440px)" type="image/webp">
              <source srcset="./img/blog/01.webp" type="image/webp">
              <img src="./img/blog/01.jpg" srcset="./img/blog/01-2x.jpg 2x" alt="">
            </picture>
          </div>
          <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
          <p class="blog-item__desc">
            В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
          </p>
        </article>
        <article class="blog__item blog-item">
          <div class="blog-item__image">
            <picture>
              <source srcset="./img/blog/02-2x.webp" media="(min-width: 1440px)" type="image/webp">
              <source srcset="./img/blog/02.webp" type="image/webp">
              <img src="./img/blog/02.jpg" srcset="./img/blog/02-2x.jpg 2x" alt="">
            </picture>
          </div>
          <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
          <p class="blog-item__desc">
            В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
          </p>
        </article>
        <article class="blog__item blog-item">
          <div class="blog-item__image">
            <picture>
              <source srcset="./img/blog/03-2x.webp" media="(min-width: 1440px)" type="image/webp">
              <source srcset="./img/blog/03.webp" type="image/webp">
              <img src="./img/blog/03.jpg" srcset="./img/blog/03-2x.jpg 2x" alt="">
            </picture>
          </div>
          <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
          <p class="blog-item__desc">
            В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
          </p>
        </article>
        <article class="blog__item blog-item">
          <div class="blog-item__image">
            <picture>
              <source srcset="./img/blog/01-2x.webp" media="(min-width: 1440px)" type="image/webp">
              <source srcset="./img/blog/01.webp" type="image/webp">
              <img src="./img/blog/01.jpg" srcset="./img/blog/01-2x.jpg 2x" alt="">
            </picture>
          </div>
          <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
          <p class="blog-item__desc">
            В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
          </p>
        </article>
        <article class="blog__item blog-item">
          <div class="blog-item__image">
            <picture>
              <source srcset="./img/blog/02-2x.webp" media="(min-width: 1440px)" type="image/webp">
              <source srcset="./img/blog/02.webp" type="image/webp">
              <img src="./img/blog/02.jpg" srcset="./img/blog/02-2x.jpg 2x" alt="">
            </picture>
          </div>
          <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
          <p class="blog-item__desc">
            В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
          </p>
        </article>
        <article class="blog__item blog-item">
          <div class="blog-item__image">
            <picture>
              <source srcset="./img/blog/03-2x.webp" media="(min-width: 1440px)" type="image/webp">
              <source srcset="./img/blog/03.webp" type="image/webp">
              <img src="./img/blog/03.jpg" srcset="./img/blog/03-2x.jpg 2x" alt="">
            </picture>
          </div>
          <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
          <p class="blog-item__desc">
            В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
          </p>
        </article>

    </div>
  </div>
</section>
