<div class="modal confirm">
  <div class="modal__body confirm__body">
    <div class="modal__close">
      <img src="./img/cross.svg" alt="" />
    </div>
    <div class="confirm__img">
      <img src="./img/modals/man.webp" alt="" />
    </div>
    <div class="confirm__content">
      <div class="title1 confirm__title">Работа завершена</div>
      <div class="confirm__subtitle subtitle1">Подтвержаю что:</div>
      <ul class="list-reset check-list">
        <li>Работа выполнена на 100%</li>
        <li>Все результаты работы переданы покупателю в чате</li>
      </ul>
      <div class="confirm__buttons">
        <a href="#" class="btn btn--gray btn-reset confirm__btn">Отменить</a>
        <a href="#" class="btn btn-reset confirm__btn">Подтвердить</a>
      </div>
    </div>
  </div>
</div>
