<section class="letter">
  <div class="container">
    <a href="#" class="letter__logo logo">
      <img src="./img/logo.svg" alt="">
    </a>

    <div class="letter__body">
      <h3 class="letter__title">+25 новых подходящих проектов</h3>
      <p class="letter__desc">
        За псоледние 3 дня на бирже размещено 1067 новых проектов. В вашых любимых рубриках,
        на которые вы подписаны, доступно 25 новых заданий
      </p>
      <div class="letter__items">
        <a href="#" class="market__item">
          <div class="market__left">
            <div class="market__worker">
              <img src="./img/avatars/09.png" alt="">
              <span class="market__name">Сименов Петр</span>
            </div>
            <span class="market__title">Верстка фигмы сайта для бренда одежды</span>
            <div class="market__row">
              <div class="market__group">
                <ul class="list-reset breadcrumbs market__list">
                  <li class="breadcrumbs__item">SEO и трафик</li>
                  <li class="breadcrumbs__item">SEO аудиты</li>
                </ul>
                <div class="market__separator">,</div>
              </div>
              <ul class="list-reset breadcrumbs market__list">
                <li class="breadcrumbs__item">консультации</li>
                <li class="breadcrumbs__item">SEO аудит</li>
              </ul>
            </div>
          </div>

          <span class="market__price">2 000 руб.</span>
        </a>
        <a href="#" class="market__item">
          <div class="market__left">
            <div class="market__worker">
              <img src="./img/avatars/09.png" alt="">
              <span class="market__name">Сименов Петр</span>
            </div>
            <span class="market__title">Верстка фигмы сайта для бренда одежды</span>
            <div class="market__row">
              <div class="market__group">
                <ul class="list-reset breadcrumbs market__list">
                  <li class="breadcrumbs__item">SEO и трафик</li>
                  <li class="breadcrumbs__item">SEO аудиты</li>
                </ul>
                <div class="market__separator">,</div>
              </div>
              <ul class="list-reset breadcrumbs market__list">
                <li class="breadcrumbs__item">консультации</li>
                <li class="breadcrumbs__item">SEO аудит</li>
              </ul>
            </div>
          </div>

          <span class="market__price">2 000 руб.</span>
        </a>
        <a href="#" class="market__item">
          <div class="market__left">
            <div class="market__worker">
              <img src="./img/avatars/09.png" alt="">
              <span class="market__name">Сименов Петр</span>
            </div>
            <span class="market__title">Верстка фигмы сайта для бренда одежды</span>
            <div class="market__row">
              <div class="market__group">
                <ul class="list-reset breadcrumbs market__list">
                  <li class="breadcrumbs__item">SEO и трафик</li>
                  <li class="breadcrumbs__item">SEO аудиты</li>
                </ul>
                <div class="market__separator">,</div>
              </div>
              <ul class="list-reset breadcrumbs market__list">
                <li class="breadcrumbs__item">консультации</li>
                <li class="breadcrumbs__item">SEO аудит</li>
              </ul>
            </div>
          </div>

          <span class="market__price">2 000 руб.</span>
        </a>
        <a href="#" class="market__item">
          <div class="market__left">
            <div class="market__worker">
              <img src="./img/avatars/09.png" alt="">
              <span class="market__name">Сименов Петр</span>
            </div>
            <span class="market__title">Верстка фигмы сайта для бренда одежды</span>
            <div class="market__row">
              <div class="market__group">
                <ul class="list-reset breadcrumbs market__list">
                  <li class="breadcrumbs__item">SEO и трафик</li>
                  <li class="breadcrumbs__item">SEO аудиты</li>
                </ul>
                <div class="market__separator">,</div>
              </div>
              <ul class="list-reset breadcrumbs market__list">
                <li class="breadcrumbs__item">консультации</li>
                <li class="breadcrumbs__item">SEO аудит</li>
              </ul>
            </div>
          </div>

          <span class="market__price">2 000 руб.</span>
        </a>
      </div>
    </div>
  </div>
</section>
