<div class="modal offer-send">
  <div class="modal__body offer-send__body">
    <div class="modal__close">
      <img src="./img/cross.svg" alt="" />
    </div>
    <div class="offer-send__title subtitle1">Ваше предложение отправлено</div>
    <p class="check-list offer-send__desc">
      Если вас выберут исполнителем, вы получите уведомление о новом заказе.
      Также заказчик сможет предварительно связаться с вами через личные
      сообщения для уточнения деталей.
    </p>
    <div class="offer-send__buttons">
      <a href="#" class="btn offer-send__btn">Вернуться к списку проектов</a>
      <a href="#" class="offer-send__other">Смотреть мое предложения</a>
    </div>
  </div>
</div>
