<section class="portfolio">
    <div class="container">
        <h2 class="titl2 portfolio__title">Портфолио</h2>
        <div class="portfolio__work">
            <span class="portfolio__capture">Дизайн интерьера</span>
            <div class="portfolio__items">
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="portfolio__work">
            <span class="portfolio__capture">Дизайн интерьера</span>
            <div class="portfolio__items">
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img src="./img/portfolio.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="portfolio__bottom">
            <a href="#" class="portfolio__link">Смотреть все проекты</a>
        </div>
    </div>
</section>