<section class="suggest">
  <div class="container">
    <h2 class="title2 suggest__title">Предложить услугу</h2>

    <div class="suggest__body s-offer">
      <div class="suggest__top s-offer__top">
        <div class="s-offer__header">
          <h4 class="s-offer__title">Сайт для Моно-бренда с функцией поиска ближайшей точки продажи</h4>
          <span class="s-offer__price">2000 руб.</span>
        </div>
        <p class="s-offer__desc">
          Сайт для ТМ Капитан, производящий пиво и имеющий 4 торговых марки пива – Капитан Сильвер, Капитан Голд, Капитан Блэк и Капитан Жигулевское Админка: возможность добавлять и удалять товары самостоятельно;
          <br>
          <br>
          Возможность привязывать адрес точки продаж к каждому товару;
          <br>
          <br>
          Карта с возможностью нанесения точек продаж; Привязать местонахождение клиента с рядом точками продажи (не показывать все имеющиеся точки продажи, только использовать ближайшие); Возможность загружать базу продавцов с адресами из файла Эксель.
        </p>

        <div class="s-offer__performancer">
          <img src="./img/avatars/05.png" alt="">
          <div class="s-offer__info">
            <span class="s-offer__name">Прохоров Семен</span>
            <span class="s-offer__role">Покупатель</span>
          </div>
        </div>
      </div>

      <div class="suggest__bottom s-offer__bottom">
        <span class="s-offer__heading">
          <span>Рубрика:</span> <a href="#">SEО и трафик / SEO аудиты и консультации</a>
        </span>
        <div class="s-offer__details">
          <span class="s-offer__created">
            Создан: <time datetime="04.15.2024 14:30">15 апреля в 14:30</time>
          </span>
          <span class="s-offer__active">
            Активен до <time datetime="04.23.2024">23.04.2024</time>
          </span>
        </div>
      </div>
    </div>

    <h2 class="title2 suggest__title">Предложить услугу</h2>

    <form class="suggest__body s-form form suggest__top">
      <p class="s-form__text">
        Опишите свой релевантный опыт. Расскажыте про 1-3 вашых кейса по решению подобных задач.
        Укажыие, как именно вы собираетесь выполнить это задание. Опышыте ключевые моменты.
        Составляйте уникальные отклики, которые покажут вашу компетентность и заинтересованность в проекте.
      </p>

      <label class="form__label s-form__label">
        <span class="form__capture">Описание:</span>
        <div class="form__input-wrapper form__input-wrapper--long">
          <textarea class="form__area" minlength="100" maxlength="1500" placeholder="Опишите чем Вы можете помочь заказчику и как решить его задачу"></textarea>
        </div>
        <span class="form__noty">0 из 1500 символов (минимум 100)</span>
      </label>
      <label class="form__label">
        <span class="form__capture">Стоимость:</span>
        <div class="form__input-wrapper form__input-wrapper--long">
          <input type="text" class="form__input" placeholder="Введите цену">
        </div>
      </label>
      <label class="form__label">
        <span class="form__capture">Название задания:</span>
        <div class="form__input-wrapper form__input-wrapper--long">
          <input type="text" class="form__input" placeholder="Название">
        </div>
      </label>

      <div class="s-form__select form__select" style="position: relative;">
        <span class="form__capture">Срок выполнения:</span>
        <div class="custom-select">
          <select id="select-payment" class="visually-hidden select">
            <option value="Рубрика">1 день</option>
            <option value="Рубрика">2 дня</option>
            <option value="Рубрика">3 дня</option>
          </select>
          <div class="custom-select__header custom-select__item"><span>Срок выполнения:</span>
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_20928_8360)">
                <path d="M6.708 10.1466L1.11838 4.55676C0.762626 4.20118 0.762626 3.62467 1.11838 3.26926C1.47381 2.91383 2.05029 2.91383 2.4057 3.26926L7.35166 8.21538L12.2974 3.26941C12.653 2.91397 13.2294 2.91397 13.5849 3.26941C13.9405 3.62484 13.9405 4.20132 13.5849 4.5569L7.99517 10.1467C7.81737 10.3244 7.58458 10.4132 7.35168 10.4132C7.11867 10.4132 6.88571 10.3243 6.708 10.1466Z" fill="#101010"></path>
              </g>
              <defs>
                <clipPath id="clip0_20928_8360">
                  <rect width="13" height="13" fill="white" transform="translate(13.8516 0.208008) rotate(90)"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="custom-select__dropdown">
            <div class="custom-select__dropdown-wrapper">
              <div class="custom-select__item">1 день</div>
              <div class="custom-select__item">2 дня</div>
              <div class="custom-select__item">3 дня</div>
            </div>
          </div>
        </div>
    </div>
    <button class="btn-reset btn s-form__btn">Предложить</button>
    </form>
  </div>
</section>
