<section class="thankyou letter">
  <div class="container">
    <a href="./" class="thankyou__logo letter__logo">
      <img src="./img/logo.svg" alt="">
    </a>
    <div class="letter__body">
      <h3 class="letter__title">Продавец приступил к работе над заказом</h3>
      <p class="letter__desc">
        Михаил, заказ “Правки по сайтам ModX”
      </p>
      <div class="letter__bottom">
        <a href="#" class="btn-reset letter__btn btn">Перейти к заказу</a>
      </div>
    </div>
  </div>
</section>
